@font-face {
    font-family: 'cl';
    src: url('cl.woff2') format('woff2'),
         url('cl.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
  margin: auto;
  padding: 20px;
  background-color: #F6F6F6;
    max-width: 550px;
}

#bio{
   font-family: "cl";
  font-weight: 100;
  font-size: 20px;
   color: #black;
    letter-spacing: 0.3px;
    line-height: 28px;
}

#contact{
   font-family: "cl";
  font-weight: 100;
  font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 28px;
    margin-top: 25px;
}

#pics{
  margin-top: 35px;
}

a { 
color: inherit;
text-decoration: none;
transition: color 0.5s;
border-bottom: solid #757575 1.5px;

}

"contact"{

}

a:hover {
    color: #ff2a00;
    border-bottom: solid #ff2a00 1.5px;
}

img {
  width: 100%;
  margin-bottom: 25px;
  object-fit: contain;
  border-radius: 2px;
}